@model ProjektKatthem.Models.Adopt

@{
    ViewData["Title"] = "Delete";
}

<div class="infocolor">

<h3>Är du säker på att du vill radera denna adoption?</h3>
</div>
<div class="details">
<article>
        <div class="center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="AdoptId" />
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-dark text-light">Tillbaka</a>
        </form>
		</div>

    <dl class="row">
        <dt class = "col-sm-3">
            Förnamn Efternamn:
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.AdoptName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Pickup)
        </dd>
        <dt class = "col-sm-2">
            Vald katt:
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Cats.Name)
        </dd>
    </dl>
    </article>
</div>
