@model ProjektKatthem.Models.Adopt

@{
    ViewData["Title"] = "Details";
}
<div class="infocolor">
<h1>Detaljer</h1>
<div class="fontdetails" style="margin-bottom: 5px;">
            <a asp-action='Edit' class="btn btn-light" asp-route-id='@Model.AdoptId'>Redigera</a> |

            <a asp-action='Delete' class="btn btn-danger" asp-route-id='@Model.AdoptId'>Radera</a>
        </div>
    <a asp-action="Index" class="btn btn-dark">Tillbaka</a>
</div>
<article class="details">
    
    <dl class="row">
        <dt class = "col-sm-3">
            Förnamn Efternamn:
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.AdoptName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pickup)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Pickup)
        </dd>
        <dt class = "col-sm-2">
            Vald katt:
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Cats.Name)
        </dd>
    </dl>
</article>

