@model IEnumerable<ProjektKatthem.Models.Adopt>

@{
    ViewData["Title"] = "Adoption";
}
<div class="infocolor">
<h1>Adoptioner</h1>
<p>Här lägger du till adoptioner. Glöm inte att efter katten blivit upphämtad - radera katten från listan.
    <br /><br />
        <a asp-action="Create" class="btn btn-light">Lägg till adoption</a>
</p>
</div>

    
<article class="centeraligns">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdoptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pickup)
            </th>
            <th>
                Katt:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdoptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cats.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AdoptId" class="btn btn-primary">Redigera</a> |
                    <a asp-action="Details" asp-route-id="@item.AdoptId" class="btn btn-success">Läs mer</a> |
                    <a asp-action="Delete" asp-route-id="@item.AdoptId" class="btn btn-danger">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
</article>