@model ProjektKatthem.Models.Cats

@{
    ViewData["Title"] = "Lägg till katt";
}


<div class="infocolor">
    <h1>Lägg till katt</h1>
    <a asp-action="Index" class="btn btn-dark">Tillbaka</a>
</div>

<div class="edition">
   
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.RadioButtonFor(m => m.Gender,"True")Hona
                @Html.RadioButtonFor(m => m.Gender,"False")Hane

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ImgFile" class="control-label"></label>
                <input asp-for="ImgFile" accept="image/*" />
                <span asp-validation-for="ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                @Html.RadioButtonFor(m => m.Adopted,"True")Bokad
                @Html.RadioButtonFor(m => m.Adopted,"False")Tillgänglig för adoption

                <span asp-validation-for="Adopted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registered" class="control-label"></label>
                <input asp-for="Registered" class="form-control" />
                <span asp-validation-for="Registered" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Info" class="control-label"></label> <br />

                @Html.TextAreaFor(model => model.Info, new { cols = 50, @rows = 5 })

                <span asp-validation-for="Info" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lägg till katt" class="btn btn-success" />
            </div>
        </form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
