@model ProjektKatthem.Models.Cats

@{
    ViewData["Title"] = "Radera katt";
}
<div class="infocolor">

<h3>Är du säker på att du vill radera @Html.DisplayFor(model => model.Name) ?</h3>
</div>
<div class="details">
<article>
        <div class="center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-dark">Tillbaka</a>
        </form>
		</div>
    <div class="tripplegrid">
            <div><img decoding="async" src="@("~/imagesupload/"+Model.ImgName)" asp-append-version="true"/></div>

            <div>
                <p>
                    <b>
                        @Html.DisplayNameFor(model => model.Age)
                    </b>
                    @Html.DisplayFor(model => model.Age) år
                </p>
                <p>
                    <b>
                        @Html.DisplayNameFor(model => model.Breed)
                    </b>
                    @Html.DisplayFor(model => model.Breed)
                </p>
                 <p>
                    <b>
                        Tillgänglig/bokad: 
                    </b>
                    @Html.DisplayFor(model => model.Adopted) 
                </p>
                 <p>
                    <b>
                        @Html.DisplayNameFor(model => model.Registered)
                    </b>
                    @Html.DisplayFor(model => model.Registered)
                </p>
           
                <p>
                    @Html.DisplayFor(model => model.Info)
                </p>
            </div>
            
 
		</div>

</article>
</div>