@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ProjektKatthem.Models.Cats

@{
    ViewData["Title"] = "Details";
}

<div class="infocolor">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <p style="font-size: 20px;">Är du intresserad av @Html.DisplayFor(model => model.Name) eller någon av våra andra katter? Kontakta oss för att boka ett besök!</p>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="fontdetails" style="margin-bottom: 5px;">
            <a asp-action='Edit' class="btn btn-light" asp-route-id='@Model.Id'>Redigera</a> |

            <a asp-action='Delete' class="btn btn-danger" asp-route-id='@Model.Id'>Radera</a>
        </div>
    }
    <a asp-action="Index" class="btn btn-dark">Tillbaka</a> | <a asp-controller="Home" asp-action="Contact" class="btn btn-light">Kontakta oss </a>
</div>

<article class="details">
    <div class="gridCats">
        <div><img decoding="async" src="@("~/imagesupload/"+Model.ImgName)" asp-append-version="true" style="width:350px" /></div>
        <div>
            <i>Registrerad hos oss sedan: @Html.DisplayFor(model => model.Registered)</i>
            <p style="font-size: 25px;">
                <b>
                    @if (Model.Adopted == false)
                    {
                        <span class="green">
                            @Html.DisplayFor(model => model.Adopted)
                        </span>
                    }
                    else
                    {
                        <span class="booked">
                            @Html.DisplayFor(model => model.Adopted)
                        </span>
                    }
                    <br />
                    @Html.DisplayFor(model => model.Name) är en @Html.DisplayFor(model => model.Age) årig @Html.DisplayFor(model => model.Gender)

                </b>
            </p>
            <p>@Html.DisplayFor(model => model.Info)</p>
            
            
            

        </div>

    </div>
</article>



